<hr>
<a href="#" class="btn btn-google btn-user btn-block">
  <i class="fab fa-google fa-fw"></i> Login with Google
</a>
<a href="#" class="btn btn-facebook btn-user btn-block">
  <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
</a>